# Clustering des étudiants

# Préparation des données

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
#pd.set_option('max_columns', None)

## Charger la donnée

In [2]:
raw_data = pd.read_csv("non_sup/ML_5AL_students_dataset.csv", sep=",")

In [3]:
raw_data.head()

,Student_ID,Age,Gender,Student_Income,Parent_Income,Residence,Region,Academic_Year,Average_Grade,Status,Grade_Math,Grade_Programming,Grade_Algorithms,Grade_Databases,Grade_Software_Engineering,Notes,Extra_Column
0,1,24.0,male,744.0,3089.0,Urban,Hauts-de-france,2006,14.02,Success,17.0,14.6,12.5,12.5,13.5,bon,TO_REMOVE
1,2,21.0,F,612.0,3141.0,Suburban,nouvelle-aquitaine,2022,10.78,Success,12.2,9.3,10.8,13.2,8.4,NaN,TO_REMOVE
2,3,28.0,Male,1069.0,1595.0,Suburban,GrandEst,2023,13.06,Success,11.1,16.7,13.1,13.4,11.0,moyen,TO_REMOVE
3,4,25.0,Other,352.0,3042.0,URBAN,Occitanie,2005,8.90,failure,6.3,13.3,3.4,10.6,10.9,moyen,TO_REMOVE
4,5,22.0,Male,575.0,1825.0,Urban,nouvelle-aquitaine,2010,11.66,Success,11.1,14.9,9.9,8.6,13.8,moyen,TO_REMOVE

In [10]:
raw_data.shape

(50500, 17)

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50500 entries, 0 to 50499
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  50500 non-null  int64
 1   Age                         47971 non-null  float64
 2   Gender                      47977 non-null  object
 3   Student_Income              50500 non-null  float64
 4   Parent_Income               47976 non-null  float64
 5   Residence                   50500 non-null  object
 6   Region                      47975 non-null  object
 7   Academic_Year               50500 non-null  int64
 8   Average_Grade               50500 non-null  float64
 9   Status                      50500 non-null  object
 10  Grade_Math                  47972 non-null  float64
 11  Grade_Programming           50500 non-null  float64
 12  Grade_Algorithms            50500 non-null  float64
 13  Grade_Databases             50500 non-null  float64
 14  Grade_Software_Engineering  50500 non-null  float64
 15  Notes                       25262 non-null  object
 16  Extra_Column                50500 non-null  object
dtypes: float64(9), int64(2), object(6)
memory usage: 6.5+ MB

## Conversion des types de variables

In [11]:
stringcols = raw_data.select_dtypes(include='object').columns
print(stringcols)

Index(['Gender', 'Residence', 'Region', 'Status', 'Notes', 'Extra_Column'], dtype='object')

In [12]:
# Conversion des types objet en string

raw_data_conv = raw_data.copy()
raw_data_conv[stringcols] = raw_data_conv[stringcols].astype(str)
raw_data_conv[stringcols] = raw_data_conv[stringcols].astype('string')
raw_data_conv[stringcols] = raw_data_conv[stringcols].replace({pd.NA: np.nan})
raw_data_conv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50500 entries, 0 to 50499
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  50500 non-null  int64
 1   Age                         47971 non-null  float64
 2   Gender                      50500 non-null  string
 3   Student_Income              50500 non-null  float64
 4   Parent_Income               47976 non-null  float64
 5   Residence                   50500 non-null  string
 6   Region                      50500 non-null  string
 7   Academic_Year               50500 non-null  int64
 8   Average_Grade               50500 non-null  float64
 9   Status                      50500 non-null  string
 10  Grade_Math                  47972 non-null  float64
 11  Grade_Programming           50500 non-null  float64
 12  Grade_Algorithms            50500 non-null  float64
 13  Grade_Databases             50500 non-null  float64
 14  Grade_Software_Engineering  50500 non-null  float64
 15  Notes                       50500 non-null  string
 16  Extra_Column                50500 non-null  string
dtypes: float64(9), int64(2), string(6)
memory usage: 6.5 MB

## Détecter les valeurs manquantes

In [16]:
# Nombre de valeurs manquantes
raw_data_conv.isnull().sum().sort_values(ascending=False)

Age                           2529
Grade_Math                    2528
Parent_Income                 2524
Student_ID                       0
Notes                            0
Grade_Software_Engineering       0
Grade_Databases                  0
Grade_Algorithms                 0
Grade_Programming                0
Average_Grade                    0
Status                           0
Academic_Year                    0
Region                           0
Residence                        0
Student_Income                   0
Gender                           0
Extra_Column                     0
dtype: int64

In [17]:
# Proportion de valeurs manquantes
raw_data_conv.isnull().mean().sort_values(ascending=False)

Age                           0.050079
Grade_Math                    0.050059
Parent_Income                 0.049980
Student_ID                    0.000000
Notes                         0.000000
Grade_Software_Engineering    0.000000
Grade_Databases               0.000000
Grade_Algorithms              0.000000
Grade_Programming             0.000000
Average_Grade                 0.000000
Status                        0.000000
Academic_Year                 0.000000
Region                        0.000000
Residence                     0.000000
Student_Income                0.000000
Gender                        0.000000
Extra_Column                  0.000000
dtype: float64

### Il y a plus de 5% de valeurs nulles, donc on supprime ces lignes

In [22]:
raw_data_delete = raw_data_conv.dropna(axis=0) # axis 0 pour les lignes
print(f"Avant suppression : {raw_data_conv.shape}")
print(f"Après suppression : {raw_data_delete.shape}")

Avant suppression : (50500, 17)
Après suppression : (43279, 17)

In [23]:
raw_data_delete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43279 entries, 0 to 50499
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  43279 non-null  int64
 1   Age                         43279 non-null  float64
 2   Gender                      43279 non-null  string
 3   Student_Income              43279 non-null  float64
 4   Parent_Income               43279 non-null  float64
 5   Residence                   43279 non-null  string
 6   Region                      43279 non-null  string
 7   Academic_Year               43279 non-null  int64
 8   Average_Grade               43279 non-null  float64
 9   Status                      43279 non-null  string
 10  Grade_Math                  43279 non-null  float64
 11  Grade_Programming           43279 non-null  float64
 12  Grade_Algorithms            43279 non-null  float64
 13  Grade_Databases             43279 non-null  float64
 14  Grade_Software_Engineering  43279 non-null  float64
 15  Notes                       43279 non-null  string
 16  Extra_Column                43279 non-null  string
dtypes: float64(9), int64(2), string(6)
memory usage: 5.9 MB

## Sélection des variables

In [24]:
raw_data_delete.head()

,Student_ID,Age,Gender,Student_Income,Parent_Income,Residence,Region,Academic_Year,Average_Grade,Status,Grade_Math,Grade_Programming,Grade_Algorithms,Grade_Databases,Grade_Software_Engineering,Notes,Extra_Column
0,1,24.0,male,744.0,3089.0,Urban,Hauts-de-france,2006,14.02,Success,17.0,14.6,12.5,12.5,13.5,bon,TO_REMOVE
1,2,21.0,F,612.0,3141.0,Suburban,nouvelle-aquitaine,2022,10.78,Success,12.2,9.3,10.8,13.2,8.4,nan,TO_REMOVE
2,3,28.0,Male,1069.0,1595.0,Suburban,GrandEst,2023,13.06,Success,11.1,16.7,13.1,13.4,11.0,moyen,TO_REMOVE
3,4,25.0,Other,352.0,3042.0,URBAN,Occitanie,2005,8.90,failure,6.3,13.3,3.4,10.6,10.9,moyen,TO_REMOVE
4,5,22.0,Male,575.0,1825.0,Urban,nouvelle-aquitaine,2010,11.66,Success,11.1,14.9,9.9,8.6,13.8,moyen,TO_REMOVE

In [26]:
features_quanti = [
    'Age',
    'Student_Income',
    'Parent_Income',
    'Academic_Year',
    'Average_Grade',
    'Grade_Math',
    'Grade_Programming',
    'Grade_Algorithms',
    'Grade_Databases',
    'Grade_Software_Engineering'
]
raw_data_delete[features_quanti].head()

,Age,Student_Income,Parent_Income,Academic_Year,Average_Grade,Grade_Math,Grade_Programming,Grade_Algorithms,Grade_Databases,Grade_Software_Engineering
0,24.0,744.0,3089.0,2006,14.02,17.0,14.6,12.5,12.5,13.5
1,21.0,612.0,3141.0,2022,10.78,12.2,9.3,10.8,13.2,8.4
2,28.0,1069.0,1595.0,2023,13.06,11.1,16.7,13.1,13.4,11.0
3,25.0,352.0,3042.0,2005,8.90,6.3,13.3,3.4,10.6,10.9
4,22.0,575.0,1825.0,2010,11.66,11.1,14.9,9.9,8.6,13.8

In [27]:
features_quali = ['Gender', 'Residence', 'Region', 'Status', 'Notes', 'Extra_Column']
raw_data_delete[features_quali].head()

  Gender Residence              Region   Status  Notes Extra_Column
0   male     Urban     Hauts-de-france  Success    bon    TO_REMOVE
1      F  Suburban  nouvelle-aquitaine  Success    nan    TO_REMOVE
2   Male  Suburban            GrandEst  Success  moyen    TO_REMOVE
3  Other     URBAN           Occitanie  failure  moyen    TO_REMOVE
4   Male     Urban  nouvelle-aquitaine  Success  moyen    TO_REMOVE

## 12- Vérifier que l'imputation a bien été faite

In [ ]:
raw_data_con_imp["Pregnancies"].isnull().sum()

## 13- Comment la moyenne et la médiane de la variable Pregnancies ont été modifiées après l'imputation

In [ ]:
print("moyenne avant imputation :", raw_data_con["Pregnancies"].mean(), "moyenne après imputation :", raw_data_con_imp["Pregnancies"].mean())
print("mediane avant imputation :", raw_data_con["Pregnancies"].median(), "mediane après imputation :", raw_data_con_imp["Pregnancies"].median())

## 14- Imputer toutes les autres valeurs manquantes par la stratégie de votre choix et explique

### Manuellement

In [ ]:
raw_data_con_imp_man = raw_data_con_imp.copy()
raw_data_con_imp_man["Glucose"] = raw_data["Glucose"].fillna(raw_data["Glucose"].median())
raw_data_con_imp_man["Insulin"] = raw_data["Insulin"].fillna(raw_data["Insulin"].mean())
raw_data_con_imp_man["DiabetesPedigreeFunction"] = raw_data["DiabetesPedigreeFunction"].fillna(raw_data["DiabetesPedigreeFunction"].mode())

### Automatisé

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean').fit(raw_data_con_imp[['Glucose', 'Insulin', 'DiabetesPedigreeFunction' ]])

# mean, most_frequent, median

data_impute = imputer.transform(raw_data_con_imp[['Glucose', 'Insulin', 'DiabetesPedigreeFunction' ]].values)

data_impute_auto = pd.DataFrame(data_impute, columns = ['Glucose', 'Insulin', 'DiabetesPedigreeFunction' ])

print(data_impute_auto)
print(data_impute_auto.info())

data_impute_auto.describe()

In [ ]:
data_nettoye = pd.concat([raw_data_con_imp[['Pregnancies', 'BloodPressure', 'SkinThickness',
       'BMI', 'Age', 'Outcome']], data_impute_auto], axis=1, join="outer") 
data_nettoye.info()

## 15 Sélectionner toutes les variables sauf outcome

In [ ]:
data_nettoye1 = data_nettoye[['Pregnancies', 'BloodPressure', 'SkinThickness', 'BMI', 'Age', 'Glucose', 'Insulin', 'DiabetesPedigreeFunction']]

## 16 travailler uniquement les personnes ayant eu au moins une grossesse et la mettre dans une nouvelle table de données nommée donnees_propres

In [ ]:
donnees_propres = data_nettoye1[data_nettoye1["Pregnancies"] > 0]

## 17 calculer et afficher la table de correlation de la table donnees_propre

In [ ]:
# calcul de la table de corrélation

table_corr = donnees_propres.corr()

table_corr

## 18 afficher le graphe de la table de correspondance

In [ ]:
# graphique des correlations
plt.figure(figsize=(20, 20))

plt.title("Table de corrélation des 10 premières variables", fontsize=30)

sns.set(style="darkgrid", font_scale=2)
plt.xlabel("",fontsize=20)
plt.ylabel("",fontsize=20)

sns.heatmap(table_corr, 
            cmap='viridis',
            cbar=True,
            #vmax=1.0, vmin=-1.0,
            linewidths=0.3,
            annot=True,
            #annot_kws={"size": 8}, square=True
           );

## 19 afficher les statistiques descriptives des variables numériques

In [ ]:
donnees_propres.describe()

## 20- Recoder la variable Age de la façon suivante en age_rec

    - si age < 18 alors "mineurs"
    - si age compris entre 18 et 25 alors "juniors"
    - si age comrpis entre 25 et 50 alors "jeunes"
    - si age > 50 alors "senior"

In [ ]:
bins = [0, 18, 25, 50, np.inf]
names = ['mineurs', 'juniors', 'jeunes', 'seniors']

donnees_propres['age_rec'] = pd.cut(donnees_propres['Age'], bins, labels=names)

## 21- Afficher le décompte de "age_rec"

In [ ]:
donnees_propres["age_rec"].value_counts()

In [ ]:
donnees_propres[donnees_propres["age_rec"] == "seniors"].sort_values("Age", ascending=True)